#name-heading {
    font-size: 3.5rem;
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: start;
    align-content: space-evenly;
}