#name-heading {
    font-size: 3.5rem;
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;
    align-content: space-evenly;
}

.job-title {
    font-size: 1.7rem;
}

.date-loc {
    font-size: 1.2rem;
    font-weight: 300;
}

.company {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.second-col {
    text-align: right;
    padding-right: 1.5rem;
}

.first-col {
    text-align: left;
    padding-left: 1.5rem;
}


.volunteer-exp {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    align-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 25vw;
}

.title {
    font-size: 1.1rem;
    padding-top: 2rem;
}

.comm-name {
    text-align: center;
}

.edu-sec h1 {
    font-size: 1.5rem;
}

.edu-sec h2 {
    font-size: 1.3rem;
}

.edu-sec h3 {
    font-size: 1.1rem;
}

.edu-sec li {
    font-size: 1.2rem;
    padding: 0.3rem;
}